@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 80%;
    margin:0 auto ;
}

section {
    background-color: #708090;
    width: 100%;
    min-height: 40vh;
    margin-bottom: .5em;
    padding-bottom: .5em;
}

h1, h2 {
font-family: 'Share Tech Mono', sans-serif;
text-decoration: underline;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 180%;
}

h1, h2, h3, p {
    color: #fff;
}

p {
    font-size: 120%;
}

/* Header and navbar */

header {
    max-width: 100%;
    background-color: #708090;
    min-height: 5vh;
    padding: 1em;
    margin-bottom: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 2px solid #fff ;
  }

header a {
text-decoration: none;
}


#header-h1 {
    margin: .2em auto;
    text-align: center;
}

#nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    overflow: hidden;
}    



#nav-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    padding: .2em   ;
}

#nav-links a:hover {
    background-color: #A9A9A9;
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}

/*  Hero section */

#hero {    
    background-color: #BDB76B;
    max-width: 100%;
    padding: 0;
}


#hero-img {
    
    background: url('../images/hero_large.jpg') no-repeat center center;
    background-size: cover;
    display: block;
    max-width: 100%;
    min-height: 600px;
    position: relative;
   
   
    
}
#hero-img-text {
    position: absolute;
    top: 15%;
    max-height: 600px;
    max-width: 300px;
    left: 55%;
    text-align: center;
    margin-right: 7em;
    margin-top: 2em;
}


#hero-img-text h2 {
    font-size: 1.8em;
}
/* Main section */

.section-text {
    max-width: 100%;
    text-align: justify;
    padding-top: 6em;
    min-height: 50vh; 
}
.section-text h2 {
    max-width: 100%;
    margin: 1em;
    line-height: 2em;
    text-align: center;
}
.section-text p {
    max-width: 60%;
    margin: 0 auto;
    line-height: 1.3em;
    padding-bottom: 2em;
}

.section-text a {
    text-decoration: none;
}

/* Footer */

footer {
    display: flex;
    background-color: #708090;
    min-height: 10vh;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-evenly;
    text-align: center;
    }


footer a {
    text-decoration: none;
}

footer h3 {
    padding: 0.3em;
}



/* Media queries */

/* Screens 1600px and down */
@media screen and (max-width: 1600px) {
    body {
        width: 100%;
    }
}
/* Screens 600px and down */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 220%;
    }

    #hero-img-text {
        left: 8%;
        margin: 10em 1em;
    }

    #nav-links {
        display: block;
        
    }

    .section-text {
        max-width: 100%;
        text-align: justify;
        padding-top: 12em;
        /* min-height: 100vh;  */
    }

    #section-text h2 {
        max-width: 100%;
        margin: 1em;
        line-height: 2em;
        text-align: center;
    }
    
    .section-text p {
        margin: 1em;
        max-width: 100%;
        line-height: 1.3em;

    }

    footer {
        display: block;
    }
}


