@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Share+Tech+Mono&display=swap');



* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 80%;
    margin:0 auto ;
}

section {
    background-color: slategrey;
    width: 100%;
    min-height: 20vh;
    margin-bottom: .5em;
}

h1, h2 {
font-family: 'Share Tech Mono', sans-serif;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 180%;
}

h1, h2, p {
    color: whitesmoke;

}

p {
    font-size: 120%;

}

/* Header and navbar */
header {
    max-width: 100%;
    background-color: slategrey;
    min-height: 5vh;
    /* position: fixed;
    top: 0;
    left: 0; */
}

header a {
text-decoration: none;
}

#header-h1 {
    /* float: left; */
    margin: .2em auto;
    text-align: center;
}
#nav-links {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    overflow: hidden;
    

}
#nav-links li {
    float: left;
    
    margin: 1em;
    
}

#nav-links a {
    display: block;
    text-decoration: none;
    text-align: center;
}

#hero {
    max-width: 100%;
    background-color: darkkhaki;
}
/*  Hero section */
#hero-img {
    
    background: url('/assets/images/hero_large.jpg') no-repeat center center;
    background-size: cover;
    display: block;
    max-width: 100%;
    min-height: 600px;
    position: relative;
   
   
    
}
#hero-img-text {
    position: absolute;
    top: 15%;
    max-height: 600px;
    max-width: 300px;
    left: 55%;
    text-align: center;
    margin-right: 7em;
    margin-top: 2em;
}

#hero-img-text h2 {
    font-size: 1.8em;
}
/* Text section */
.section-text {
    max-width: 100%;
    text-align: justify;    
}
.section-text h2 {
    max-width: 50%;
    margin: 1em;
}
.section-text p {
    max-width: 60%;
    margin: 1em;
    line-height: 1.3em;
}




